[Desktop Entry]
# This file must be placed in /home/hilo/.local/share/applications
Name=TakePix
Comment=Take pictures with the camera
Exec=/usr/bin/python /home/hilo/Hilo/takepix/takepix.py
Terminal=false
Type=Application
Categories=Hilo
